body{
    margin:0 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* navbar  */
header{
    position: sticky;
    top: 0;
    width: 67.5%;
}
.menu_list{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    height: 5vh;
    line-height: 5vh;
    padding: 0;
    background-color: rgb(235, 235, 235);
}
.menu_list li{
    transition: linear .5s;
    width: 12%;
}
.menu_list li:hover{
    cursor: pointer;
    background-color: rgb(155, 0, 0);


}
.menu_list a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;

}
.menu_list>li a:hover{
    color: white;

}

.banierre_img>img{
    width: 67vw;
}
.banierre_text{
    position: absolute;
    top: 20%;
    width: 15%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(255, 255, 255, 0.711);
    border-radius: 25px;
    padding: 1%;
    font-size: 3rem;
}

/* sections */
main{
    width: 100%;
}
.section{
    width: 65.4%;
    margin: auto;
    background-color: rgb(235, 235, 235);
    margin-top: .8%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section>h1{
    margin: 0;
    background-color: rgb(155, 0, 0);
    width: 103.2%;
    border-radius: 5px;
    height: 5vh;
    margin-top: -2.5%;
    text-align: center;
    line-height: 5vh;
    color: white;
    font-size: 1.5rem;
    font-style: italic;
}

/* section accueil */
.accueil_section>p:nth-of-type(2){
    width: 40%;
}
.accueil_section>p:nth-of-type(3){
    text-align: center;
    color: red;
    width: 50%;
}

.section>div{
    display: flex;
    justify-content: center;
}

.section>div>img{
    margin-top: 1%;
    aspect-ratio: 2/1;
    width: 80%;
}
.accueil_section>div>img{
    aspect-ratio: 1/1;
    width: 60%;

}

/* section histoire */
.his_section>,.cult_section>p{
    width: 100%;
    text-align: left;
}
.his_section>h2,.cult_section>h2{
    text-align: left;
    width: 100%;
}
.his_section>ul,.cult_section>ul{
    width: 100%;
}

/* section galerie */
.gal_section>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gal_section>div>div>img{
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    margin-top: 8%;
    border: 3px solid black;
    padding: 1%;
    cursor: pointer;
}
.gal_section>div>div>p{
    text-align: center;
    margin: 1%;
}
/* bonus galerie */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay.active {
    display: flex;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

/* section contact */
.cont_section>p{
    font-weight: bold;
    text-align: center;
}

.cont_section>form>div{
    display: flex;
    justify-content: flex-end;
}
.cont_section>form>div>input{
    width: 15vw;
    height: 2vh;
}
.cont_section>form>div>label{
    line-height: 2vh;
}
.btn{
    margin-top: 10%;
    translate: -80px;
}
input[type="button"]{
    width: 50% !important;
    border-radius: 15px;
    height: 3vh !important;
}
.big_input>input{
    height: 6vh !important;
}

/* section liens */
.list_container{
    width: 100%;
}
.list_container a{
    text-decoration: none;
    color: red;
}
.link_section>p{
    font-weight: bold;
}

.link_section>div>ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.error_section>p:nth-of-type(1){
    font-weight: bold;
}

/* arrow */
#upArrow{
    font-size: 3rem;
    margin-left: 6%;
    margin-top: -7%;
    cursor: pointer;
}