body{
    margin:0 0 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* navbar  */
ul{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    height: 5vh;
    line-height: 5vh;
    padding: 0;
    background-color: rgb(235, 235, 235);
}
ul li{
    transition: linear .5s;
    width: 12%;
}
ul li:hover{
    cursor: pointer;
    background-color: red;

}
ul a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;

}
li a:hover{
    color: white;

}
.banierre_text{
    position: absolute;
    top: 20%;
    width: 15%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(255, 255, 255, 0.711);
    border-radius: 25px;
    padding: 1%;
    font-size: 3rem;
}

/* accueil section */
.section{
    width: 65.4%;
    margin: auto;
    background-color: rgb(235, 235, 235);
    margin-top: .8%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section>h1{
    margin: 0;
    background-color: red;
    width: 103.2%;
    border-radius: 5px;
    height: 5vh;
    margin-top: -2.5%;
    text-align: center;
    line-height: 5vh;
    color: white;
}
.accueil_section>p:nth-of-type(2){
    width: 40%;
}
.accueil_section>p:nth-of-type(3){
    text-align: center;
    color: red;
    width: 50%;
}
.section>img{
    margin-top: 1%;
}